*{
    margin: 0;
    padding: 0;
}
.tabs{
    background-color: lightgrey;
    border: 2px solid lightgrey;
    width:100%;
    height:80px;
}
body{
    background-image: url('https://cdn.dribbble.com/users/3408049/screenshots/6339531/therottam_4x.jpg?compress=1&resize=400x300');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    color:darkblue;
}